.team {

  &__img {

    &-blok {
      &:hover {
        background-color: #fff;
        }

      & img {

        &:hover {
          opacity: 0.2;
        }
      }

      &:hover .team__img-hover {
        display: block;

      }
    }

    &-hover {


    }
  }



}

.portfolio {

  &__menu {

    & ul li {

      &:hover {
        background-color: #3e3d3d;
        color: #fff;
      }

    }


  }

}

.nav__menu a:hover {
  background-color: #3e3d3d;
  color: #fff;
  transition: 2s;
}

.menu__soc a:hover {
  background-color: #3e3d3d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
transition: 1s;
}

.carousel__buttom:hover {
  background-color: #3e7890;
  transition: 2s;
}

.history__years:hover {
  transform: scaleX(-1);
  transition: 2s;

}

.history__years-circle:hover {
  transform: rotate(-720deg);
  transition: 2s;
}

.prices__cont:hover {
  transform: translateY(-20px);
  transition: 1.5s;
  & a:hover {
    background-color: #3e3d3d;
    color: #fff;
    transition: 1.5s;
  }
}

.blog__header-text {
	& a:hover {
		color: black;
		border-radius: 5px;
		background-color: gainsboro;
		transition: 2s;
	}
}
.page__header-text {
	& a:hover {
		color: black;
		border-radius: 5px;
		background-color: gainsboro;
		transition: 2s;
	}
}
.post {
  &__soc {
    & a:hover {

    }
  }
}
.facebook:hover {
  background-color: #4267b2;
  color: #fff;
  transition: 1s;
}
.twitter:hover {
  background-color: #1da1f2;
  color: #fff;
  transition: 1s;
}
.google:hover {
  background-color: #d12d2f;
  color: #fff;
  transition: 1s;
}
.behance:hover {
  background-color: #0054f9;
  color: #fff;
  transition: 1s;
}
.youtube:hover {
  background-color: #ff0000;
  color: #fff;
  transition: 1s;
}

.categorie__team-left a:hover {
  color: #b2b2b2;
}
